@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700;800;900&display=swap");

$primary_color: #0e2c66;
$light-blue: #05deec;

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Archivo", sans-serif;
  font-size: 16px;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
section {
  .section-header {
    position: relative;
    text-align: center;

    h3 {
      text-align: center;
      overflow: hidden;
      text-transform: uppercase;
      color: $primary_color;

      &::before,
      &::after {
        background-color: $primary_color;
        content: "";
        display: inline-block;
        height: 3px;
        position: relative;
        vertical-align: middle;
        width: 50%;
      }

      &:before {
        right: 0.5em;
        margin-left: -50%;
      }

      &:after {
        left: 0.5em;
        margin-right: -50%;
      }
    }
  }
}

.grid-container {
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}
%primary-btn {
  background-color: $light-blue;
  padding: 0.8rem 2rem;
  border-radius: 8px;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.3s;
  border: none;
  outline: none;
  &:hover {
    background-color: darken($light-blue, 10%);
  }
}

.primary-btn {
  @extend %primary-btn;
}
