@import "base";
$logo-width: calc(2vw + 80px);
$white: #fff;

header {
  background: linear-gradient(to right, #0e2c6600, #05deec4d);
  padding: 1.5rem 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  position: absolute;
  z-index: 10;
  .logo-burger {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      width: $logo-width;
    }
    button.burger-icon {
      cursor: pointer;
      display: grid;
      width: 32px;
      background-color: transparent;
      border: none;
      outline: none;
      display: none;
      padding: 1rem;
      padding-right: 3rem;
      .line {
        width: 32px;
        height: 2px;
        margin: 0.3rem 0;
        background-color: $white;
        transform-origin: 33% 100%;
        transition: transform 0.5s, opacity 0.5s;
      }
    }
  }
  nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: calc(100% - #{$logo-width});
    .navlinks {
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        color: $white;
        text-decoration: none;
        padding: 0 0.7rem;
        font-weight: 700;
        transition: all 0.3s ease 0s;
        &:hover {
          color: #ccc;
        }
      }
      .primary-btn {
        @extend %primary-btn;
      }
      &.main-navlinks {
        margin: auto;
      }
    }
  }

  @media screen and (max-width: 992px) {
    padding: 0;
    .logo-burger {
      padding: 0rem 2rem;
      width: 100%;
      button.burger-icon {
        display: grid;
      }
    }
    nav {
      display: block;
      width: 100%;
      background-color: $primary_color;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.5s;
      .navlinks {
        display: block;
        padding-bottom: 4rem;
        text-align: center;
        a {
          display: block;
          padding: 1rem;
          text-align: center;
          &.primary-btn {
            background-color: transparent;
            color: $light-blue;
            &:hover {
              background-color: transparent;
            }
          }
        }
        &.main-navlinks {
          padding-top: 3rem;
          padding-bottom: 0;
        }
      }
    }
    &.active {
      button.burger-icon {
        .middle {
          opacity: 0;
        }
        .top {
          transform: rotate(45deg) translate(4px, 6px);
        }
        .bottom {
          transform: rotate(-45deg) translate(4px, -6px);
        }
      }
      nav {
        max-height: 360px;
      }
    }
  }
}
