@import "base";

.find-out {
  background-color: #f0f0f0;
  .headline {
    text-align: center;
    color: $primary_color;
  }
  .preamble {
    font-weight: 500;
    font-size: 22px;
    width: 60%;
    line-height: 1.4;
    margin: 0 auto;
  }
  .find-out-why {
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 1rem 0;
  }
  .request-demo-btn {
    background-color: $primary_color;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    padding: 0.7rem 2rem;
    border: 0px;
    border-radius: 8px;
  }
  .grid-container {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(3, 1fr);
    #security-bros {
      max-height: 300px;
    }
  }
}

//how it works
.how-it-works {
  margin: 1rem 0;
  background: linear-gradient(
    89.75deg,
    rgba(5, 222, 236, 0.1) 8.89%,
    rgba(14, 44, 102, 0.1) 89.54%
  );
  .content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
    padding: 0 8%;
    width: 100%;
    overflow-x: hidden;
    .img-container {
      //   width: 30%;
      margin: 0 2rem;
      img {
        width: 25vw;
        svg {
          width: 300px;
        }
      }
    }
    .content {
      width: 55%;
      .content-header {
        color: $primary_color;
        font-weight: 700;
        font-size: 24px;
        margin: 0.5rem 0;
      }
      p {
        color: $primary_color;
        font-weight: 700;
        font-size: 1.1rem;
        width: 95%;
      }
    }
  }
}

//Get Started
.get-started {
  background: url(../images/get-started-bg.svg) no-repeat;
  background-position: center;
  text-align: center;
  color: #fff;
  border-radius: 12px;
  p {
    margin: 0 auto;
    font-size: 30px;
    font-weight: 700;
  }
  button {
    background-color: $primary_color;
    color: #fff;
    border: 2px solid $primary_color;
    padding: 0.8rem 3rem;
    margin: 2rem auto;
    border-radius: 8px;
  }
}

//Footer
footer {
  padding: 1rem 3rem;
  ul {
    list-style: none;
    li:first-of-type {
      font-weight: 700;
    }
    li {
      padding: 0.5rem 1rem;
    }
  }
  .footer-container {
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin: 1rem 0;
  }
  .footer-logo {
    img {
      width: 80%;
    }
  }
  .request-btn {
    color: $primary_color;
    padding: 0.8rem 2rem;
    border: 2px solid $primary_color;
    background: linear-gradient(
      90deg,
      rgba(14, 44, 102, 0.28) 0%,
      rgba(5, 222, 236, 0.28) 100%
    );
    border-radius: 8px;
    margin-top: 2rem;
  }
  .mother-company {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
    img {
      width: 15%;
    }
  }
}

@media only screen and (max-width: 768px) {
  .find-out {
    .preamble {
      width: 100%;
    }
  }

  //how It works
  .how-it-works {
    .content-container {
      flex-direction: column;
      &:nth-of-type(even) {
        flex-direction: column-reverse;
      }
      .img-container {
        margin: 1rem 0;
        img {
          width: 50vw;
        }
      }
      .content {
        width: 100%;
      }
    }
  }

  //footer
  footer {
    padding: 1rem;
    .footer-container {
      width: 100%;
      flex-direction: column;
    }
    .mother-company {
      img {
        width: 70%;
      }
    }
  }
}
